extend layout 
block content   
    h1 Form Submission result 
    p Name: #{name}
    p Email: #{email}
    p Phone Number: #{phone}
    p Address: #{address}
    p Gender: #{gender}
    p Qualification: #{qualification}
    p District: #{district}